/* Login page : welcome-header*/
#welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 140px 0 80px 0;
}

#welcome-header h1 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 30px;
}

#welcome-header p {
  font-size: 18px;
  margin-bottom: 8px;
  opacity: 0.6;
}

/* Login page : login form */
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

#login-form input {
  border: none;
  padding: 15px 0;
  font-size: 16px;
  margin-bottom: 15px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
  font-size: 16px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[value="코코아계정 로그인"] {
  margin-top: 35px;
}

#login-form input[type="submit"] {
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

#login-form input[type="submit"]:focus {
  background-color: var(--yellow);
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  margin-top: 8px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  background-color: var(--yellow);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 100;
  animation: hideSplashScreen 1s ease-in-out forwards;
  animation-delay: 1s;
}
