.nav-bar__list {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  box-sizing: border-box;
  padding: 25px 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.certification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  border-radius: 50%;
}

.certification-num-relative {
  position: relative;
}

.certification-num {
  color: white;
  font-size: 10px;
  font-weight: 600;
  width: 24px;
  height: 24px;
  position: absolute;
  right: -3px;
  top: -15px;
}

.certification-more-relative {
  position: relative;
}

.certification-more {
  width: 5px;
  height: 5px;
  position: absolute;
  right: 2px;
  top: -3px;
}

.nav-bar__a i {
  color: rgba(0, 0, 0, 0.45);
  padding: 10px;
  box-sizing: border-box;
}

.nav-bar__a .on {
  color: rgba(0, 0, 0, 0.9);
}
