.screen-header {
  margin-top: 40px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.screen-header__title {
  font-size: 25px;
  font-weight: 600;
}

.screen-header__icon {
  font-size: 20px;
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.7);
}
