/* 모든 페이지에서 사용하는 컴포넌트라서 따로 분리 */

.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 10px 15px;
  font-weight: 600;
  position: fixed;
  top: 0;
  z-index: 100;
}

.status-bar__column {
  display: flex;
  align-items: center;
}

.status-bar__column i {
  margin-left: 8px;
}

.status-bar__column i:nth-child(3) {
  font-size: 23px;
}
